<div class="row">
	<div class="h2 col-xs-5 col-md-3 col-lg-1 vcenter">Data</div>
	<div class="col-xs-5 col-md-7 col-lg-9 vcenter">
		<a class="btn dropdown-toggle .btn-large btn-default vcenter" data-toggle="dropdown" >
			<i class="fa fa-plus"></i>
			Add Data
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<!-- dropdown menu links -->
			<li><a href="#"><i class="fa fa-file"></i> Upload File</a></li>
			<li><a href="#"><i class="fa fa-cloud"></i> Load URL</a></li>
			<li><a href="#"><i class="fa fa-search"></i> Search for Data</a></li>
			<li><a href="#"><i class="fa fa-paste"></i> Paste</a></li>
		</ul>
	</div>
</div>


<uib-accordion close-others="false">
	<div ng-repeat="dataset in datasets" ng-controller="DataSetTableCtrl">
		<uib-accordion-group >
			<uib-accordion-heading>
	        	{{dataset.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
	      </uib-accordion-heading>
			<div ui-grid="options" class="ui-grid" ></div>
		</uib-accordion-group>
 	</div>
 </uib-accordion>