<div class="row">
	<div class="h2 col-xs-5 col-md-3 col-lg-1 vcenter">Plotting </div>

		<div class="btn-group" uib-dropdown >
		    <div class="btn-group" uib-dropdown >
		      <button id="addPlot" type="button" 
		      	class="btn .btn-large btn-default" add-portlet><i class="fa fa-plus"></i> Add Plot</span></button>
		    </div>
		</div>

		<!-- Single button -->
		<div class="btn-group" uib-dropdown >
		    <div class="btn-group" uib-dropdown >
		      <button id="symbolBy" type="button" class="btn .btn-large btn-default" uib-dropdown-toggle ng-disabled="disabled">
		        Symbol <span class="caret"></span>
		      </button>
		      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="symbolBy">
		        <li role="menuitem"><a href="#">Data Set</a></li>
				<li role="menuitem"><a href="#">Sensor Type</a></li>
				<li role="menuitem"><a href="#">Object Id</a></li>
				<li role="menuitem"><a href="#">Object Type</a></li>
				<li role="menuitem"><a href="#">Target Id</a></li>
				<li role="menuitem"><a href="#">Target Type</a></li>
		        <li class="divider"></li>
		        <li role="menuitem"><a href="#">Advanced</a></li>
		      </ul>
		    </div>
		
			<div class="btn-group" uib-dropdown>
		      <button id="symbolBy2" type="button" class="btn .btn-large btn-default" uib-dropdown-toggle ng-disabled="disabled">
		        Color <span class="caret"></span>
		      </button>
		      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="symbolBy2">
		        <li role="menuitem"><a href="#">Data Set</a></li>
				<li role="menuitem"><a href="#">Sensor Type</a></li>
				<li role="menuitem"><a href="#">Object Id</a></li>
				<li role="menuitem"><a href="#">Object Type</a></li>
				<li role="menuitem"><a href="#">Target Id</a></li>
				<li role="menuitem"><a href="#">Target Type</a></li>
		        <li class="divider"></li>
		        <li role="menuitem"><a href="#">Advanced</a></li>
		      </ul>
		    </div>

		    <div class="btn-group" uib-dropdown>
		      <button id="symbolBy3" type="button" class="btn .btn-large btn-default" uib-dropdown-toggle ng-disabled="disabled">
		        Transparancy <span class="caret"></span>
		      </button>
		      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="symbolBy2">
		        <li role="menuitem"><a href="#">Data Set</a></li>
				<li role="menuitem"><a href="#">Sensor Type</a></li>
				<li role="menuitem"><a href="#">Object Id</a></li>
				<li role="menuitem"><a href="#">Object Type</a></li>
				<li role="menuitem"><a href="#">Target Id</a></li>
				<li role="menuitem"><a href="#">Target Type</a></li>
		        <li class="divider"></li>
		        <li role="menuitem"><a href="#">Advanced</a></li>
		      </ul>
		    </div>
		    <div class="btn-group" uib-dropdown>
		      <button id="symbolBy3" type="button" class="btn .btn-large btn-default" uib-dropdown-toggle ng-disabled="disabled">
		        Size <span class="caret"></span>
		      </button>
		      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="symbolBy2">
		        <li role="menuitem"><a href="#">Data Set</a></li>
				<li role="menuitem"><a href="#">Sensor Type</a></li>
				<li role="menuitem"><a href="#">Object Id</a></li>
				<li role="menuitem"><a href="#">Object Type</a></li>
				<li role="menuitem"><a href="#">Target Id</a></li>
				<li role="menuitem"><a href="#">Target Type</a></li>
		        <li class="divider"></li>
		        <li role="menuitem"><a href="#">Advanced</a></li>
		      </ul>
		    </div>
		     <div class="btn-group">
		     	<button type="button" class="btn .btn-large btn-default" ngf-select="uploadFiles($files)" multiple>
			        <i class="fa fa-file"></i> Upload
			      </button>
			 </div>
		</div>
	</div>
</div>

<div id="portlet-area">

</div>
